<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="More Details"></Label>
</ActionBar>
<StackLayout>
<!-- <GridLayout  class="page__content"> -->
    <Label  class="page__content-icon far" text="&#xf2bb;"></Label>
    <Label   id="cargarsaludo" class="nt-drawer__list-item" text="{{message}}"></Label>
    <Button   text="Seleccioname" class="nt-drawer__list-item nuevoColor" (tap)="onTap($event)" ></Button>
<!-- </GridLayout> -->


</StackLayout>

<router-outlet></router-outlet>
<!-- <router-outlet name="sub"></router-outlet> -->